



.card {
    background-color: beige;

}

img {
    border-radius: 350%;

}


.card-title  {
    color: brown;
}

.card-text {
    color: rgb(221, 59, 59);
}

.btn {
    width: 100%;
    background-color: firebrick;
    color: white;
    font-size: 23px;

}